.section {
  margin-bottom: 5rem;
}

.section h2 {
  margin-top: 5rem;
}

.ul {
  margin-top: 3rem;
}

.li {
  display: flex;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 0 0;
  padding-right: 1rem;
  border-right: 1px solid #d8d2d2cd;
  width: 180px;
}

.left-box .p {
  color: 1px solid #d8d2d2cd;
}
