.card img {
  padding: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 1px 5px 19px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 19px -4px rgba(0, 0, 0, 0.75);
}

.card strong {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  background-color: #111;
  color: #fcf9f9;
  border-radius: 0 0 10px 10px;
  font-size: 0.8rem;
  font-weight: normal;
}
